
body {
    margin: 0;
    font-family:'Inter';
  }

#hero-section h1{
  font-family:'Inter';
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* @media (max-width: 991px) {
  .effect .col-lg-12 {
    display: none; 
  }
}

@media (max-width: 991px) {
  .col-lg-4 {
    display: none; 
    width: 300px; 
  }
} */

#hero-section p{
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  margin-bottom: 40px;
  
}

.navbar-nav .nav-link.active {
  font-weight: 600;

  color:#053CC9 !important;

}

  


.navbar-nav .nav-item :hover{
  color: #053CC9 !important;
}

.nav-item{
  padding: 10px;
}

#hero-section button{

  background-color: #053CC9;
  height: 45px;
  width: 130px;
  
}
